services:

  db:
    image: postgres
    restart: always
    shm_size: 128mb
    networks:
      - prisma-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U prisma -d postgres"]
      interval: 5s
      timeout: 2s
      retries: 20
    environment:
      POSTGRES_PASSWORD: example

  adminer:
    image: adminer
    restart: always
    ports:
      - 8888:8080
    depends_on:
      db:
        condition: service_healthy
    networks:
      - prisma-network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 8887:3000
    depends_on:
      db:
        condition: service_healthy
    restart: always
    env_file:
      - .env.prod
    networks:
      - prisma-network


networks:
  prisma-network:
